
body{
    background-color:	antiquewhite;
}
hr{
     
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 3%;
}
h1{
    color:	brown;

}
h4{
    color:	crimson;
}

